@charset "UTF-8";
.banner {
  background-image: url(../img/zly/banner_ai.jpg);
  background-image: -webkit-image-set(url(../img/zly/banner_ai.jpg) 1x, url(../img/zly/banner_ai.jpg) 2x);
  height: 160px;
}
.inptel {
  width: 100%;
  padding: 10px 0;
}
.inptel .input-group {
  width: 100%;
  margin: 0 auto;
}
.inptel .input-group input {
  border-radius: 0;
  border: 1px solid rgba(133, 103, 230, 0.8);
}
.inptel .input-group button {
  border-radius: 0;
  color: #fff;
  border: 1px solid rgba(133, 103, 230, 0.8);
  padding: 6px 20px;
  background-color: rgba(133, 103, 230, 0.8);
}
.core .item {
  min-height: auto;
  margin-bottom: 30px;
}
.core .item h5 {
  margin: 20px 0 18px;
}
.core .item p {
  line-height: 25px;
  min-height: 150px;
}
.core .icon {
  width: 80px;
  height: 80px;
  font-size: 80px;
  background-color: #DFE6FE;
  border-radius: 10px;
}
.advantage .item h5 {
  margin: 20px 0 18px;
}
.advantage .item p {
  line-height: 25px;
  min-height: 150px;
}
.bi {
  background-image: -webkit-image-set(url("../img/zly/scene-bg.jpg") 1x, url("../img/zly/scene-bg.jpg") 2x);
}
.bi .owl-stage {
  overflow: hidden;
}
.bi .owl-stage .item {
  min-height: 200px;
  padding: 0;
}
.bi .owl-stage .item .image-background {
  height: 135px;
  line-height: 135px;
  color: #fff;
  font-size: 18px;
  position: relative;
  text-align: center;
}
.bi .owl-stage .item .text-wrap {
  padding: 20px;
  min-height: 236px;
}
.bi .owl-stage .item .btn {
  color: #8467E6;
  border-color: #8467E6;
  margin-bottom: 30px;
  width: 150px;
}
.bi .owl-stage .item .btn .icon {
  width: 14px;
  height: 14px;
  vertical-align: -2px;
}
.bi .owl-stage .item .btn:hover {
  color: #fff;
  border-color: #fff;
  background: #8467E6;
}
.bi img {
  position: absolute;
  bottom: 0;
  width: 60px !important;
  left: 50%;
  margin-left: -30px;
}
.contact .wrap {
  margin: 20px auto;
}
.contact p {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 0;
}
.contact .btn {
  margin-top: 0;
}
.contact .btn:hover {
  color: #000;
  background: #fff;
}
.contact .btn-default-outline {
  color: #fff;
  border-color: #fff;
}
.dialog__content {
  background: url(../img/xh/try-bg.jpg) !important;
}
.indicator .nav > li > a {
  border: 2px solid #8467E6;
}
.indicator .nav > li.active > a {
  background-color: rgba(133, 103, 230, 0.76);
}
@media (min-width: 768px) {
  .banner {
    height: 300px;
  }
  .core .item {
    min-height: 250px;
  }
  .contact .wrap {
    margin: 0 auto;
  }
  .contact .btn {
    margin-top: 40px;
  }
}
@media (min-width: 992px) {
  .banner {
    height: 400px;
  }
  .contact .btn {
    margin-top: 0;
  }
}
@media (min-width: 1200px) {
  .banner {
    height: 500px;
  }
}
