@charset "utf-8";
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}

header {
    padding: 0 13px;
    line-height: 50px;
    height: 50px;
    width: 100%;
    color: white;
    background-color: #22262e;
}

header>div {
    float: left;
    font-size: 14px;
}

.logo {
    font-size: 16px;
    width: 220px;
}

.logo img {
    vertical-align: middle;
}

.lie span {
    margin-left: 16px;
}

.more {
    float: right;
}

.more i {
    /* display: inline-block; */
    padding: 5px;
    background-color: red;
    font-size: 16px;
    color: white;
}

.main {
    font-size: 14px;
    width: 100%;
    height: 1140px;
}

.left {
    width: 16%;
    position: relative;
    z-index: 4;
    float: left;
    height: 100%;
    background-color: #22262e;
}

.right {
    width: 84%;
    position: relative;
    z-index: 2;
    /* width: %; */
    height: 100%;
    float: left;
    background-color: #eeee;
}

.left ul {
    background-color: rgba(255, 255, 255, 0.1);
    /* opacity: .6; */
}

.left i {
    font-size: 16px;
    padding-right: 15px;
    color: blanchedalmond;
}

.diyi {
    color: #cccccc;
}

.diyi i {
    font-size: 40px;
    vertical-align: middle;
}

.left li {
    line-height: 45px;
    padding: 0 16px;
}

.left li a {
    padding-left: 29px;
    font-size: 14px;
}

.left .ying {
    background-color: #22262e;
    /* opacity: .8; */
}

.left .ying a {
    padding-left: 0;
}

.box {
    width: 100%;
    margin: 0 auto;
}

#ribbon {
    background-color: #ccc;
    line-height: 40px;
    padding-left: 13px;
}

#content {
    padding: 10px 14px;
}

.alert {
    padding: 10px;
    margin-left: 5px;
    margin-bottom: 20px;
    background-color: #d6dde7;
    color: #305d8c;
}

.neirong {
    border: 1px solid #ccc;
    height: 134px;
    width: 100%;
}

.n1 {
    line-height: 43px;
    border-bottom: 1px solid #ccc;
}

.n1>div>span:nth-child(2) {
    background-color: rgba(211, 1, 1);
    float: right;
}

.footer {
    font-size: 13px;
    width: 100%;
    position: fixed;
    bottom: 0;
    line-height: 50px;
    padding-top: 15px;
    padding-left: 16.5%;
    color: white;
    background-color: #22262e;
    z-index: 3;
}