body,
html {
  width: 100%;
  height: 100%;
}
.pd {
  padding: 0;
}
.left {
  float: left;
}
.right {
  float: right;
}
.navbar {
  width: 100%;
  min-height: 50px;
  background-color: #499ef3!important;
  border: 0;
  padding: 0 15px;
  border-radius: 0;
  margin-bottom: 0;
}
.navbar .fdj {
  margin-left: -40px;
  border: 0;
  height: 20px;
  overflow: hidden;
}
.navbar .aa {
  overflow: hidden;
}
.navbar .nav_dl {
  height: 40px;
  background-color: #59b0ff;
  height: 34px;
  min-width: 76px;
  margin: 7px;
  text-decoration: none;
  border-radius: 5px;
  text-align: center;
  padding: 0 10px;
  line-height: 34px;
  font-size: 14px;
  color: #fff;
}
.navbar .nav_dl:hover {
  opacity: 0.8;
}
.navbar .nav_zc {
  height: 40px;
  background-color: #5bbf5a;
  height: 34px;
  min-width: 76px;
  margin: 7px 0 0 10px;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
  padding: 0 10px;
  line-height: 34px;
  font-size: 14px;
  color: #fff;
}
.navbar .nav_zc:hover {
  opacity: 0.8;
}
.navbar .navbar-toggle {
  color: #fff!important;
  border: 0;
}
.navbar .navbar-toggle .icon-bar {
  background-color: #fff!important;
}
.navbar .navbar-left > img {
  margin-top: 5px;
}
.navbar .nav_dml {
  width: 100%;
  height: 40px;
  position: relative;
  margin: 0 auto!important;
}
.navbar .nav_dm {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px;
  transform: all 0.08s;
}
.navbar .nav_dm a {
  text-decoration: none;
}
.navbar .navbar-nav li a {
  color: #fff;
}
.navbar .nav_ddd {
  position: relative;
}
.navbar .nav_ddd .ddd {
  font-size: 23px;
  font-weight: bold;
}
.navbar .nav_ddd .nav_yc {
  position: absolute;
  display: none!important;
  top: 50px;
  left: 0;
}
.navbar .nav_ddd:hover .nav_yc {
  display: block;
}
.navbar .navbar-nav li:hover {
  background-color: #59b0ff;
}
.navbar .navbar-nav li a:hover {
  color: #fff;
}
.banner {
  width: 100%;
  background: #dae6f3;
  padding: 4px 8%;
  height: 30px!important;
}
.banner img {
  height: 25px!important;
}
.main {
  width: 100%;
  background: #f1f1f1;
  overflow: hidden;
}
.main .container1 {
  margin-top: 30px!important;
}
.main .container1 img {
  width: 100%;
  height: 40.58px;
  cursor: pointer;
}
.main .container1 li {
  list-style: none;
  float: left;
  padding: 0 10px;
  color: #17344A;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  margin-right: 20px;
  border-radius: 5px;
  cursor: pointer;
}
.main .container1 li:hover {
  color: #fff;
  background: #666;
}
.main .container1 li:first-child {
  color: #fff;
  background: #666;
}
.main .container2 {
  margin-top: 30px!important;
  background: #fff;
  margin: 0 2.5%;
  border-radius: 4px;
}
.main .container2 .xyy {
  margin-right: 20px;
}
.main .container2 .main_left {
  width: 100%;
  border: 1px solid #ccc;
}
.main .container2 .main_left .main_left_nav {
  overflow: hidden;
  font-size: 20px;
  border-bottom: 1px solid #ccc;
}
.main .container2 .main_left .main_left_nav div {
  padding: 15px 0 0 15px;
  float: left;
  color: #333;
}
.main .container2 .main_left .main_left_nav div img {
  width: 23px;
  height: 20px;
}
.main .container2 .main_left .main_left_nav ul {
  margin-top: 30px;
  margin-bottom: 0;
  margin-right: 20px;
  float: right;
  box-sizing: border-box;
}
.main .container2 .main_left .main_left_nav ul li {
  list-style: none;
  float: left;
  line-height: 30px;
  background-color: #fff;
  border: none;
  color: #333;
  font-size: 14px;
  margin-right: 20px;
  box-sizing: border-box;
}
.main .container2 .main_left .main_left_nav ul li:hover {
  border-bottom: 2px solid #155faa;
}
.main .container2 .main_left .main_left_nav ul li:first-child {
  border-bottom: 2px solid #155faa;
  font-weight: bold;
}
.main .container2 .main_left .main_left_main1 {
  overflow: hidden;
  position: relative;
  padding: 15px 0 0 15px;
}
.main .container2 .main_left .main_left_main1 .main_left_main1_left {
  font-size: 14px;
  line-height: 160%;
  position: absolute;
  top: 15px;
  left: 15px;
  float: left!important;
  background-color: #FF9000;
  color: #fff;
  width: 45px;
  height: 48px;
  border-radius: 5px;
}
.main .container2 .main_left .main_left_main1 .main_left_main1_left span {
  display: block;
  text-align: center;
}
.main .container2 .main_left .main_left_main1 .main_left_main1_right {
  margin: 0 50px;
  overflow: hidden;
  border-bottom: 1px solid #ccc;
}
.main .container2 .main_left .main_left_main1 .main_left_main1_right h4 p {
  padding: 0 5px;
  font-size: 12px;
  color: #fff;
  margin: 0;
  width: 23px;
  height: 23px;
  line-height: 24px;
  display: inline-block;
  background-color: #ff8547;
  border-radius: 4px;
  margin-right: 2px;
}
.main .container2 .main_left .main_left_main1 .main_left_main1_right h4 a {
  color: #155faa;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
}
.main .container2 .main_left .main_left_main1 .main_left_main1_right h4 span {
  line-height: 16px;
  background-color: #99cfff;
  font-size: 12px;
  color: #fff;
  border-radius: 4px;
  padding: 2px 5px;
}
.main .container2 .main_left .main_left_main1 .main_left_main1_right p a {
  text-decoration: none;
}
.main .container2 .main_left .main_left_main1 .main_left_main1_right p span {
  font-size: 12px;
  font-weight: normal;
  color: #999;
}
.main .container2 .main_left .main_left_main1 .main_left_main1_right div {
  word-wrap: break-word !important;
  font-size: 14px;
  color: #666;
}
.main .container2 .main_left .main_left_main1 .main_left_main1_right div img {
  width: 144px;
  height: 80px;
  float: left;
  vertical-align: top;
}
.main .container2 .main_left .main_left_main1 .main_left_main1_right h6 {
  margin: -20px 0 10px 0 !important;
  display: inline-block;
}
.main .container2 .main_left .main_left_main1 .main_left_main1_right h6 a {
  color: #999;
  text-decoration: none;
  font-size: 14px;
}
.main .container2 .main_left .main_left_main1 .main_left_main1_right h6 a:hover {
  color: #155faa;
}
.main .container2 .main_left .main_left_main2 {
  overflow: hidden;
  position: relative;
  padding: 15px 0 0 15px;
}
.main .container2 .main_left .main_left_main2 .main_left_main2_left {
  font-size: 14px;
  line-height: 160%;
  position: absolute;
  top: 15px;
  left: 15px;
  float: left!important;
  background-color: #52aae8;
  color: #fff;
  width: 45px;
  height: 48px;
  border-radius: 5px;
}
.main .container2 .main_left .main_left_main2 .main_left_main2_left span {
  display: block;
  text-align: center;
}
.main .container2 .main_left .main_left_main2 .main_left_main2_right {
  margin: 0 50px;
  overflow: hidden;
  border-bottom: 1px solid #ccc;
}
.main .container2 .main_left .main_left_main2 .main_left_main2_right h4 p {
  padding: 0 5px;
  font-size: 12px;
  color: #fff;
  margin: 0;
  width: 23px;
  height: 23px;
  line-height: 24px;
  display: inline-block;
  background-color: #ff8547;
  border-radius: 4px;
  margin-right: 2px;
}
.main .container2 .main_left .main_left_main2 .main_left_main2_right h4 a {
  color: #155faa;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
}
.main .container2 .main_left .main_left_main2 .main_left_main2_right h4 span {
  line-height: 16px;
  background-color: #99cfff;
  font-size: 12px;
  color: #fff;
  border-radius: 4px;
  padding: 2px 5px;
}
.main .container2 .main_left .main_left_main2 .main_left_main2_right p a {
  text-decoration: none;
}
.main .container2 .main_left .main_left_main2 .main_left_main2_right p span {
  font-size: 12px;
  font-weight: normal;
  color: #999;
}
.main .container2 .main_left .main_left_main2 .main_left_main2_right div {
  word-wrap: break-word !important;
  font-size: 14px;
  color: #666;
}
.main .container2 .main_left .main_left_main2 .main_left_main2_right div img {
  width: 144px;
  height: 80px;
  float: left;
  vertical-align: top;
}
.main .container2 .main_left .main_left_main2 .main_left_main2_right h6 {
  margin: -20px 0 10px 0 !important;
  display: inline-block;
}
.main .container2 .main_left .main_left_main2 .main_left_main2_right h6 a {
  color: #999;
  text-decoration: none;
  font-size: 14px;
}
.main .container2 .main_left .main_left_main2 .main_left_main2_right h6 a:hover {
  color: #155faa;
}
.main .container2 .main_left .main_color {
  background-color: #52aae8!important;
}
.main .container2 .main_left .main_border {
  border: 0!important;
}
.main .container2 .main_right {
  width: 25%;
  height: 3025px;
  padding: 20px;
  border-top: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.main .container2 .main_right .main_right_head {
  width: 95%;
  position: relative;
  margin: 0 auto;
  height: 326px;
  border-bottom: 1px solid #ccc;
}
.main .container2 .main_right .main_right_head h3 {
  line-height: 1.7;
  font-size: 14px;
  margin: 0;
}
.main .container2 .main_right .main_right_head img {
  width: 100%;
}
.main .container2 .main_right .main_right_head span {
  width: 100%;
  background: #333;
  color: #fff;
  text-align: center;
  position: absolute;
  height: 120px;
  top: 24px;
  left: 0;
  line-height: 120px;
  opacity: 0.8;
  display: none;
}
.main .container2 .main_right .main_right_head p {
  font-size: 14px;
  color: #666;
}
.main .container2 .main_right .main_right_head a {
  display: block;
  padding: 5px;
  background-color: #f3f3f3;
  text-decoration: none;
  margin-bottom: 8px;
  border-radius: 5px;
}
.main .container2 .main_right .main_right_head a:hover {
  color: #499ef3;
}
.main .container2 .main_right .main_right_head div {
  font-size: 14px;
  line-height: 160%;
}
.main .container2 .main_right .main_right_head div a {
  float: left;
  background: #fff;
}
.main .container2 .main_right .main_rmht {
  padding: 20px 0;
  overflow: hidden;
  border-bottom: 1px solid #ccc;
  height: 173px;
  font-size: 14px;
  width: 95%;
  margin: 0 auto;
}
.main .container2 .main_right .main_rmht h3 {
  font-size: 14px;
  margin: 0;
  overflow: hidden;
}
.main .container2 .main_right .main_rmht h3 p {
  line-height: 1.7;
  float: left;
}
.main .container2 .main_right .main_rmht h3 a {
  text-decoration: none;
  float: right;
}
.main .container2 .main_right .main_rmht h3 a:hover {
  color: #499ef3;
}
.main .container2 .main_right .main_rmht div img {
  width: 32px;
  height: 32px;
  float: left;
}
.main .container2 .main_right .main_rmht div a {
  display: inline-block;
  height: 22px;
  margin-left: 10px;
  line-height: 20px;
  padding: 2px 5px;
  text-decoration: none;
  background-color: #499ef3;
  font-size: 12px;
  color: #fff;
  opacity: 0.8;
  border-radius: 4px;
}
.main .container2 .main_right .main_rmht div a:hover {
  opacity: 1;
}
.main .container2 .main_right .main_rmht div p {
  color: #999;
  margin-left: 40px;
}
.main .container2 .main_right .main_cfb {
  padding: 20px 0;
  border-bottom: 1px solid #ccc;
  height: 620px;
  font-size: 14px;
  width: 95%;
  margin: 0 auto;
  overflow: hidden;
}
.main .container2 .main_right .main_cfb h3 {
  font-size: 14px;
  margin: 0;
  overflow: hidden;
}
.main .container2 .main_right .main_cfb h3 p {
  line-height: 1.7;
  float: left;
}
.main .container2 .main_right .main_cfb h3 a {
  text-decoration: none;
  float: right;
}
.main .container2 .main_right .main_cfb h3 a:hover {
  color: #499ef3;
}
.main .container2 .main_right .main_cfb div img {
  width: 32px;
  height: 32px;
  float: left;
  margin-top: 5px;
}
.main .container2 .main_right .main_cfb div a {
  display: inline-block;
  height: 22px;
  margin-left: 10px;
  line-height: 20px;
  padding: 2px 5px;
  text-decoration: none;
  font-size: 12px;
  opacity: 1;
  color: #155faa;
  border-radius: 4px;
}
.main .container2 .main_right .main_cfb div a:hover {
  opacity: 0.8;
}
.main .container2 .main_right .main_cfb div p {
  color: #999;
  margin-left: 45px;
}
.main .container2 .main_right .main_img {
  padding: 20px 0;
  border-bottom: 1px solid #ccc;
}
.main .container2 .main_right .main_img img {
  width: 230px;
  height: 245px;
}
.main .container2 .main_right .bor {
  border: 0;
}
.footer {
  width: 100%;
  background: #332e36;
}
.footer .container div {
  margin: 50px 0 50px 0;
  text-align: center;
}
.footer .container div span {
  font-size: 12px;
  text-align: center;
  color: #eee;
  padding: 10px 15px;
}
.footer .container ul {
  overflow: hidden;
}
.footer .container ul li {
  list-style: none;
  color: #888;
  cursor: pointer;
  font-size: 14px;
}
.footer .container p {
  font-size: 12px;
  text-align: center;
  color: #fff;
  margin: 50px 0 0 0;
}
.cl {
  color: #a6a6a6;
  font-size: 30px;
  padding: 0 5px;
  position: fixed;
  right: 20px;
  top: 500px!important;
  background-color: #d9d9d9;
  border-radius: 3px;
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 45px;
  cursor: pointer;
  padding: 10px;
}
@media screen and (min-width: 768px) {
  .main .container img {
    height: 92px;
    cursor: pointer;
  }
  .nav_dml {
    width: 78px!important;
    height: 50px!important;
    position: relative;
  }
}
@media screen and (min-width: 992px) {
  .main .container img {
    height: 108px;
    cursor: pointer;
  }
}
@media screen and (min-width: 1200px) {
  .navbar {
    padding: 0 150px;
  }
  .main .container img {
    height: 120px;
    cursor: pointer;
  }
  .container2 {
    margin: 0 auto!important;
  }
  .main_left {
    width: 75%!important;
  }
}
