html,
body {
  width: 100%;
  height: 100%;
}
.pd {
  padding: 0;
}
.float {
  float: left;
}
/* 楼层跳转*/
.lctz {
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  position: fixed;
  left: 10px;
  top: 200px;
  opacity: 0.8;
  z-index: 999;
}
.lctz li {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  list-style: none;
  margin-top: 8px;
}
.lctz li a {
  border-radius: 50%;
  padding: 0;
  width: 12px;
  height: 12px;
  display: block;
  border: 2px solid #1996fa;
  transition: all .2s ease .1s;
  opacity: 0.8;
}
.lctz-color {
  background: #5c8de6;
}
.lctz2 {
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  position: fixed;
  right: 10px;
  top: 300px;
  opacity: 0.8;
  z-index: 999;
}
.lctz2 li {
  width: 8px;
  height: 18px;
  list-style: none;
  margin-top: 8px;
}
.lctz2 li a {
  padding: 0;
  width: 8px;
  height: 18px;
  display: block;
  border: 2px solid #1996fa;
  transition: all .2s ease .1s;
  opacity: 0.8;
}
/*侧栏*/
.banner div ol li {
  z-index: 1;
}
.bgi1 {
  width: 100%;
  height: 160px;
  background-image: url(../img/zhb/robot/v4@2x.jpg);
  background-size: cover;
  cursor: pointer;
  background-position: center center;
}
.bgi2 {
  width: 100%;
  height: 160px;
  background-image: url(../img/zhb/robot/gartner_ai@2x.jpg);
  background-size: cover;
  cursor: pointer;
  background-position: center center;
}
.bgi3 {
  width: 100%;
  height: 160px;
  cursor: pointer;
  background-image: url(../img/zhb/robot/ai@2x.jpg);
  background-size: cover;
  background-position: center center;
}
.header {
  background-image: url(../img/zhb/robot/future-bg@2x.jpg);
  width: 100%;
  height: 518px;
  display: block!important;
  background-size: cover;
  background-position: center center;
}
.header .search {
  width: 85%;
  height: 50px;
  overflow: hidden;
  margin: 0 auto;
  padding: 15px 0;
}
.header .search .input-group {
  width: 80%;
  height: 35px;
}
.header .search .input-group input {
  outline: none!important;
  background: #081661;
  border: 1px solid #26389f;
  z-index: 1!important;
}
.header .search button {
  width: 20%;
  height: 35px;
  border: 1px solid #26389f;
  background-color: #26389f;
  color: #fff;
}
.header .header_main {
  width: 95%;
  margin: 0 auto;
  padding: 4% 0;
  padding-left: 2%;
}
.header .header_main img {
  width: 345px;
  height: 184px;
}
.header .header_main h3 {
  width: 100%;
  font-size: 20px;
  color: #fff;
}
.header .header_main p {
  width: 100%;
  color: rgba(255, 255, 255, 0.7);
  line-height: 2;
  margin-top: 15px;
  font-size: 14px;
}
.main {
  width: 100%;
  box-sizing: border-box;
  padding: 100px 0;
  background: #f9fafb;
}
.main h2 {
  font-size: 28px;
  text-align: center;
  margin-bottom: 35px;
}
.main .main_main {
  padding: 10px 0;
  margin: 10px 0;
  position: relative;
  text-align: center;
}
.main .main_main p {
  font-size: 12px;
  margin-top: 15px;
}
.main .main_main .yc {
  position: absolute;
  top: -80px;
  width: 60%;
  left: 50%;
  transform: translate(-50%);
  background: rgba(204, 204, 204, 0.836);
  font-size: 12px;
  color: rgba(0, 0, 0, 0.582);
  padding: 10px;
  display: none!important;
  border-radius: 5px;
}
.main .main_main:hover .yc {
  display: block!important;
}
.pic {
  overflow: hidden;
  padding: 100px 0;
}
.pic h2 {
  font-size: 28px;
  text-align: center;
  margin-bottom: 80px;
}
.pic .pic_main {
  height: auto!important;
  overflow: hidden;
  margin-bottom: 60px;
}
.pic .pic_main li {
  list-style: none;
}
.pic .pic_main h4 {
  font-weight: 500!important;
  font-size: 18px;
}
.pic .pic_main p {
  font-size: 14px;
  color: #666;
  letter-spacing: 0.6px;
  line-height: 25px;
  margin: 20px 0 40px;
}
.pic .pic_main li {
  font-size: 14px;
  color: #666;
  line-height: 25px;
}
.pic .pic_main .pic_main_text {
  padding: 10px 50px;
}
.bot {
  width: 100%;
  overflow: hidden;
  box-sizing: content-box !important;
  background: #323232;
}
.bot .container {
  margin: 0 auto;
  padding: 10px 30px;
}
.bot .container .bot_main {
  text-align: center;
  margin: 50px auto 0;
  padding: 0 45px;
}
.bot .container .bot_main h5 {
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 30px;
}
.bot .container .bot_main p {
  margin: 0 auto;
  text-align: left;
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 60px;
}
.images {
  width: 100%;
  overflow: hidden;
  background: #ccc;
}
.images h2 {
  font-size: 28px;
  margin-top: 80px;
  text-align: center;
  color: #313B53;
}
.images img {
  width: 100%;
}
.hyjjfa {
  background-color: #0085e4;
  overflow: hidden;
  padding: 100px 0;
}
.hyjjfa h2 {
  margin-bottom: 80px;
  line-height: 1.5;
  text-align: center;
  font-size: 28px;
  color: #fff;
}
.hyjjfa .container {
  padding: 0 80px;
}
.hyjjfa .container .hyjjfa_main {
  padding: 15px;
}
.hyjjfa .container .hyjjfa_main div {
  padding: 15px;
  background: #fff;
}
.hyjjfa .container .hyjjfa_main div h5 {
  font-weight: bold;
  margin-bottom: 20px;
  color: #313B53;
  font-size: 14px;
}
.hyjjfa .container .hyjjfa_main div p {
  line-height: 24px;
  margin-bottom: 10px;
  color: #614f4f;
  font-size: 13px;
}
.hyjjfa .container .hyjjfa_main div img {
  width: 100%;
}
.dxal {
  width: 100%;
  padding: 80px 0;
}
.dxal h2 {
  margin-bottom: 80px;
  line-height: 1.5;
  text-align: center;
  font-size: 28px;
}
@media screen and (min-width: 768px) {
  .bgi1,
  .bgi2,
  .bgi3 {
    width: 100%;
    height: 300px;
  }
  .header {
    width: 100%;
    height: 618px;
    background-image: url(../img/zhb/robot/future-bg.jpg);
  }
  .header .search {
    width: 60%;
  }
  .header .header_main {
    width: 80%;
    padding-left: 25%;
  }
  .header .header_main img {
    width: 485px;
    height: 258px;
  }
  .header .header_main h3 {
    font-size: 24px;
  }
  .main h2 {
    font-size: 28px;
  }
  .pic h2 {
    font-size: 28px;
  }
  .pic_main h4 {
    font-size: 18px!important;
  }
  .images h2 {
    font-size: 28px;
  }
  .hyjjfa h2 {
    font-size: 28px;
  }
  .hyjjfa .container .hyjjfa_main div h5 {
    font-size: 18px;
  }
  .dxal h2 {
    font-size: 28px;
  }
}
@media screen and (min-width: 992px) {
  .bgi1,
  .bgi2,
  .bgi3 {
    width: 100%;
    height: 500px;
  }
  .header {
    width: 100%;
    height: 618px;
  }
  .header .search {
    width: 50%;
  }
  .header .header_main {
    width: 70%;
  }
  .main h2 {
    font-size: 30px;
  }
  .pic h2 {
    font-size: 30px;
  }
  .pic_main h4 {
    font-size: 22px!important;
  }
  .images h2 {
    font-size: 30px;
  }
  .hyjjfa h2 {
    font-size: 30px;
  }
  .hyjjfa .container .hyjjfa_main div h5 {
    font-size: 20px;
  }
  .dxal h2 {
    font-size: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .bgi1,
  .bgi2,
  .bgi3 {
    width: 100%;
    height: 500px;
  }
  .header {
    width: 100%;
    height: 698px;
  }
  .header .search {
    width: 45%;
  }
  .main h2 {
    font-size: 32px;
  }
  .pic h2 {
    font-size: 32px;
  }
  .pic_main h4 {
    font-size: 24px!important;
  }
  .images h2 {
    font-size: 32px;
  }
  .hyjjfa h2 {
    font-size: 32px;
  }
  .dxal h2 {
    font-size: 32px;
  }
}
