@charset "UTF-8";
body,html,h1,h2,h3,h6{
    margin: 0;
    padding: 0;
}


.clear:after{
    content: ".";
    clear: both;
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
    overflow: hidden;
}
#main-navbar{
    .list-unstyled{
        li{
            text-align: center;
        }
    }
}

#dev-spt-box {
    .title {
        margin: 20px 0 10px;
        line-height: 1.5;
        color: #666;
        font-weight: 700;
        font-size: 16px;
    }
    .sub-title {
        margin-top: 0;
        margin-bottom: 50px;
        line-height: 1.5;
        color: #666;
    }
    .dialog__content{
        background-image: none!important;
        background: #fff!important;
        padding: 2em 1.5em;
    }
}

.btn-default-outline {
    color: #fff;
    border-color: #fff;
}

p {
    color: #7a7a7a;
}

@media(max-width:768px){
    .h2, h2 {
        font-size: 22px;
    }
    .h4, h4 {
        font-size: 18px;
    }
    .h5, h5 {
        font-size: 16px;
    }
    .action{
        margin-top: 20px;
        .btn{
            width: 100px;
            font-size: 12px;
            padding: 7px 0;
        }
    }
    .customer{ 
        .title {
            margin-bottom: 20px!important;
            line-height: 1.5!important;
        }
        .sub-title {
            padding: 0 10px!important;
        }
    }
    .affix{
        position: fixed!important;
        background-color: #0092e5!important;
    }
    .disable-scroll{
        overflow: hidden;
    }

    .sidemenu {
        display: flex;
        bottom: 0;
        width: 100%;
        .item {
            flex-basis: 0;
            flex-grow: 1;
            height: 56px;
            padding: 5px;
            border-right: 1px solid #00b3ff;
            p {
                margin-top: -5px;
            }
            .iconfont{
                font-size: 25px;
                display: block;
            }
        }
        .item:last-child {
            border-right: none;
        }
        .visible-xs-block {
            display: block!important;
        }
    }

    .header-mobile{
        position: fixed;
        background-color: #0092e5;
        top: 0;
        right:0;
        z-index: 19;
        padding: 0 10px;
        width: 100%;
        height: 50px;
        max-width: 800px;
        background-color: transparent;
        // transition: all 1s;
        nav{
            position: absolute;
            right: 50px;
            left: 50px;
            text-align: center;
            a{
                position: relative;
                display: inline-block;
                padding: 15px 10px;
                color: #fff;
                font-size: 16px;
                line-height: 20px;
            }
        }
        a{
            text-decoration: none;
            color: #fff;
        }
        .menu{
            position: relative;
            overflow: hidden;
            width: 34px;
            height: 34px;
            margin: 8px 3px;
            transition: .1s;
            float: right;
            z-index: 20;
            i{
                font-size: 34px;
                color: #fff;
                position: absolute;
                top: -6px;
            }
        }
        .nav-collapse{
            position: fixed;
            top: 50px;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: -1;
            display: none;
            overflow-x: hidden;
            overflow-y: auto;
            margin: 0 auto;
            max-width: 800px;
            background-color: #0ea9f3;
            animation-duration: .4s;
            .dummy-active{
                .dummy__item{
                    transform: translate3d(0,0,0);
                    transition-timing-function: cubic-bezier(.56,1.19,.2,1.05);
                } 
            }
            .dummy__item{
                transform: translate3d(-100%,0,0) scale3d(.5,1,1);
                transform-origin: 100% 50%;
                color: #fff;
                text-align: center;
                margin: 15px 20px;
                border-radius: 4px;
                transition: transform .5s;
                transition-timing-function: cubic-bezier(.7,0,.3,1);
                .column{
                    padding-right: 10px;
                    padding-left: 10px;
                    a{
                        display: block;
                        border-radius: 5px;
                    }
                    .btn-sm{
                        font-size: 14px;
                        background-color: rgba(255,255,255,.15);
                    }
                }
            }
            .dummy__item.row{
                margin: 15px 20px;
            }
            .dummy__item:nth-child(1){
                transition-delay: .18s;
            }
            .dummy__item:nth-child(2){
                transition-delay: .15s;
            }
            .dummy__item:nth-child(3){
                transition-delay: .12s;
            }
            .dummy__item:nth-child(4){
                transition-delay: .09s;
            }
            .dummy__item:nth-child(5){
                transition-delay: .06s;
            }
            .entry {
                position: fixed;
                bottom: 0;
                margin-bottom: 20px;
                width: 100%;
            }
        }
    }
    .header{
        display: none;
    }
    .investor{
        img{
            width: 100%;
        }
    }
    .section {
        padding: 40px 0;
    }
    .carousel-indicators {
        bottom: -6%;
    }
    .footer{
        margin-bottom: 56px;
        .right>div:nth-child(2){
            .social{
                .iconfont{
                    margin-left: 9px!important;
                    margin-right: 0!important;
                }
            }
        }
    }
    .chat1 {
        width: 100%!important;
        right: 0!important;
        bottom: 0!important;
    }
    #try-kefu{
        .dialog__content{
            background-image: none!important;
            background-color: #fff;
        }
    }
    .dialog__content{
        width: 100%!important;
        padding: 2em 1.2em!important;
    }
}

@media (max-width: 991px) and (min-width: 768px){
    .hidden-sm {
        display: none!important;
    }
}

@media (min-width: 768px){
    .header-mobile{
        display: none;
    }
    h2{
        font-size: 28px;
    }
    h4{
        font-size: 20px;
    }
    h5{
        font-size: 18px;
    }
    h6{
        font-size: 14px;
    }
    .action {
        margin-top: 25px;
        .btn {
            width: 110px;
            font-size: 14px;
            padding: 8px 0;
        }
    }
    .navbar-nav>li>a {
        color: #fff;
        padding: 15px 8px;
        background: 0 0;
    }
    .connect {
        padding: 60px 0;
    }
    .header { 
        position: fixed;
        z-index: 2;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        .container{
            padding: 0;
        }
        .navbar-brand {
            padding: 10px 15px;
            overflow: hidden;
        }
        .sub-menu.blue::before {
            border-bottom: 8px solid #52b0ef;
        }
        .sub-menu.white::before {
            border-bottom: 8px solid #fdfdfd;
        }
        .sub-menu.login-register::before {
            top: -16px;
            left: 65px;
        }
        .nav{
            >li{
                >a{
                    color: #fff;
                    &:hover{
                        background:none;
                    }
                }
                &:hover {
                    .sub-menu{
                        display: block;
                    }
                }
            }
        }
        .lite {
            width: 120px;
            margin-left: -60px;
            padding: 10px;
            text-align: center;
            a{
                display: block;
                width: 100px;
                height: 35px;
                line-height: 35px;
                &:hover{
                    text-decoration: none;
                    border-bottom: 2px solid #337ab7;
                    color: #337ab7;
                }    
            }
        }
        .sub-menu {
            display: none;
            position: absolute;
            top: 50px;
            left: 50%;
            border-top: 2px solid #fff;
            background-color: rgba(23,34,48,.7);
            a{
                color: #fff;
            }
        }
        .sub-menu.lite::before {
            left: 52px;
        }
        .sub-menu::before {
            position: absolute;
            top: -18px;
            left: 50%;
            display: block;
            width: 0;
            height: 0;
            border: 8px solid transparent;
            border-bottom: 8px solid #fff;
            content: "";
        }
        .login-register {
            width: 142px;
            margin-left: -72px;
            top: 50px;
            left: 50%;
            padding: 0;
            text-align: center;
            border: none;
            border-radius: 3px;
            background: #fdfdfd;
            li:nth-child(1) a {
                background: #52b0ef;
                color: #fff;
                margin: 0;
                border-bottom: none;
                border-radius: 3px 3px 0 0;
            }
            li a {
                display: block;
                height: 40px;
                line-height: 40px;
                color: #53b2f1;
                &:hover{
                    text-decoration: none;
                }
            }
        }
        .navbar-nav>li>button {
            margin-right: 5px;
            margin-left: 5px;
            padding-right: 20px;
            padding-left: 20px;
        }
    }
    .btn-default-outline{
        background: transparent;
        border: 1px solid #fff;
        color: #fff;
    }
    .customer{
        .sub-title{
            padding: 0 20px;
        }
    }
    .carousel-indicators {
        bottom: 2%;
    }
    .section {
        padding: 60px 0;
    }
    .sidemenu {
        top: 30%;
        right: 0;
        .item {
            width: 65px;
            height: 80px;
            padding: 10px 5px;
            margin-bottom: 3px;
            .iconfont{
                font-size: 50px;
                line-height: 40px;
            }
            .icon-mianfeishiyong {
                font-size: 25px;
                display: block;
                padding-bottom: 5px;
            }
        }
        .biz-item {
            background-color: #5c8de6!important;
        }
        .dev-item {
            background-color: #4fc0ff!important;
        }
        .try-item {
            background-color: #eaa800!important;
        }
        .top-item {
            background-color: #fff!important;
            display: none;
        }
        .dev-wrap{
            width: 360px;
            border-radius: 5px;
            top: -20px;
            left: -390px;
            display: none;
            position: absolute;
            background-color: #fff;
            padding: 30px 20px 20px;
            animation-duration: .2s;
            h6 {
                color: #6c6c6c;
                font-weight: 700;
            } 
            p {
                color: #848484!important;
                margin: 20px 0 25px;
            }
        }
        :after {
            content: "";
            display: block;
            width: 0;
            height: 0;
            border: 10px solid transparent;
            position: absolute;
            left: 360px;
            border-left: 10px solid #fff;
            top: 50px;
        }
    }
    #try-kefu {
        .dialog__content {
            max-width: 700px;
            width: 700px;
            height: 448px;
            padding: 0;
            border-radius: 5px;
            transition: .3s;
        }
        form {
            width: 256px;
            padding: 56px 40px;
        }
    }
}

@media (max-width: 991px){
    .evaluate {
        background: #f0f0f0;
        text-align: center;
    }
    .customer .body {
        img {
            width: 60%;
            text-align: center;
            margin-bottom: 10px;
        }
        .action{
            text-align: center;
            margin: 0 0 30px 0;     
       }
    }
}

@media (min-width: 992px){
    .header .navbar-nav>li>a {
        padding: 15px 16px;
    } 
 
    body .connect {
        padding: 100px 0;
        h2 {
            margin: 0 0 100px 0;
            line-height: 1;
        }
        margin-top: 170px;
        .connect-right-text {
            text-align: left;
        }
    }
    h2{
        font-size: 30px;
    }
    h4{
        font-size: 22px;
    }
    h5{
        font-size: 20px;
    }
    h6{
        font-size: 16px;
    }
    .action{
        margin-top: 30px;
         .btn {
            width: 120px;
            padding: 9px 0;
        }
    }
    .customer{
        .sub-title{
            padding: 0 60px;
        }
        .body h4 {
            padding-top: 75px;
        }
    }
    .evaluate {
        background: rgba(240,240,240,.7) url(https://www.easemob.com/themes/official_v3/Public/img/home/evaluate-bg.png) 0 210px repeat-x;
        text-align: center;
        .item {
            height: 430px;
            margin-top: 70px;
            h5{
                margin-top: 30px;
            }
            img {
                height: 250px;
            }
        }
    }
    .section {
        padding: 80px 0;
    }
    .footer{
        .left>div{
            width: 500px;
        }
    }
}

@media (min-width: 1200px){
    .navbar-nav>li>a {
        padding: 15px 20px!important;
    }
    .connect {
        padding: 100px 0!important;
        .connect-text{
            margin-top: 215px;
        }
    }
    h2{
        font-size: 32px;
    }
    h4{
        font-size: 24px;
    }
    h5{
        font-size: 20px;
    }
    h6{
        font-size: 16px;
    }
    .action .btn {
        width: 130px;
        padding: 10px 0;
    }
    .customer{
        .sub-title{
            padding: 0 100px;
        }
    }
    .section {
        padding: 100px 0;
    }
}

.navbar-btn.btn-sm {
    margin-top: 10px;
    margin-bottom: 10px;
}

.banner{
    cursor: pointer;
    .container-fluid{
        padding: 0;
    }
}

.news{
    background: #f9f9f9;
    border-bottom: 1px solid #e5e5e5;
    .row>div:first-child{
        overflow: hidden;
    }
    .m{
        width: 1072px;
        display: flex;
        justify-content: space-around;
        position: relative;
        overflow: hidden;
    }
    p{
        line-height: 40px;
        color: #7a7a7a;
        margin-bottom: 0;
    }
    a{
        text-decoration: none;
        color: #7a7a7a;
    }
}

.connect {
    background-color: #FFF;
    padding: 60px 0;
    .title {
        line-height: 1;
        margin: 0;
    }
    h5 {
        color: #7a7a7a;
        line-height: 1.3;
    }
    .connect-text {
        text-align: right;
        font-size: 18px;
        padding: 0 15px;
    }
}

.btn-im {
    color: #fff;
    background-color: #5cb85c;
    border-color: #5cb85c;
}

.btn-cs {
    color: #fff;
    background-color: #4eb1f4;
    border-color: #4eb1f4;
}
.customer{
    .head{
        position: relative;
        background-color: #F9F9F9;
        padding: 50px 0 50px;
        text-align: center;
        border-bottom: 1px solid #eee;
        .item{
            img{
                display: inline-block;
                width: 140px;
            }
        }
        .owl-stage{
            position: relative;
            .owl-item{
                opacity: .5;
            }
            .owl-item.active{
                opacity: 1;
                cursor: pointer;
            }
            .current:before{
                content: '';
                width: 0;
                height: 0;
                border: 24px solid transparent;
                border-bottom: 24px solid #fff;
                position: absolute;
                top: 68px;
                left: 60%;
                margin-left: -24%;
                z-index: 1;
            }
        }
    }
    .title {
        margin-bottom: 10px;
        line-height: 50px;
    }
    .sub-title {
        margin-top: 0;
        margin-bottom: 70px;
        line-height: 1.5;
        padding: 0 100px;
    }
    .body {
        .owl-stage{
            position: relative;
        }
        h4 {
            line-height: 34px;
        }
        p {
            margin-bottom: 25px;
            line-height: 1.6;
            color: #7a7a7a;
        }
    }
}
.owl-carousel{
    .owl-item{
        position: relative;
        min-height: 1px;
        float: left;
        width: 190px;
    }
    .owl-stage{
        overflow: hidden;
    }
    .owl-stage-outer {
        position: relative;
        overflow: hidden;
    }
}
.btn-primary {
    background-color: #4eb1f4;
    border-color: #4eb1f4;
}
.img-responsive {
    display: inline-block;
    max-width: 100%;
    height: auto;
}
.investor{
    background-color: #F2F3F6;
    text-align: center;
    padding: 90px 0 190px 0;
    background-image: url(https://www.easemob.com/themes/official_v3/Public/img/home/investor-background.jpg);
    img{
        margin-bottom: 110px;
    }
    .title {
        margin-bottom: 70px;
        line-height: 50px;
        color: #FFF;
    }
}
.footer{
    background: #273140;
    .container {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .row>div {
        padding-left: 40px;
        padding-right: 40px;
    }
    .left>div {
        margin-bottom: 25px;
        li {
            width: 90px;
            margin-bottom: 6px;
            text-align: center;
        }
    }
    .right>div {
        float: left;
        h6 {
            margin-bottom: 24px;
        }
        li {
            margin-bottom: 12px;
        }
    }
    .right>div:nth-child(1) {
        width: 28%;
    }
    .right>div:nth-child(2) {
        width: 42%;
        >p {
            color: #b8b8b8;
            margin-bottom: 0;
        }
        >hr {
            margin: 3px 0;
            border-top: 2px solid rgba(187,187,187,.5);
            width: 58px;
            text-align: left;
        }
        >a {
            display: inline-block;
            color: #f1f1f1;
            font-size: 16px;
            font-weight: 700;
            margin-bottom: 10px;
            font-family: "Segoe UI";
        }
        .social {
            margin-top: 10px;
            position: relative;
            .iconfont {
                color: #fff;
                background-color: #f2f2f2;
                border-radius: 50%;
                font-size: 50px;
                line-height: 50px;
                margin-right: 30px;
                color: #273140;
                display: inline-block;
            }          
            .icon:last-child {
                margin-right: 0;
            }
            .icon-wechat:hover{
                color: #00d20c;
            }
            a:hover .icon-weibo{
                color: #f5161f!important;
            }
            .erweima{
                position: absolute;
                padding: 5px;
                background: #fff;
                width: 130px;
                display: none;
                &:before{
                    content: '';
                    position: absolute;
                    left: 50%;
                    bottom: -10px;
                    transform: translateX(-50%);
                    width: 0;
                    height: 0;
                    border: 5px solid transparent;
                    border-top: 5px solid #fff;
                }
            }
        }
    }
    .right>div:nth-child(3) {
        width: 30%;
        text-align: center;
        .item {
            display: block;
            margin-bottom: 15px;
            text-decoration: none;
            color: #fff;
        }
        .item.iconfont {
            font-size: 60px;
            line-height: 60px;
        }
    }
    h6 {
        color: #fff;
        margin-bottom: 14px;
        font-weight: 700;
    }
    ul{
        li{
            a {
                color: #b8b8b8;
            }
        }
    }
    .copyright {
        padding: 20px 0 16px;
        text-align: center;
        background-color: rgba(0,0,0,.15);
        p {
            line-height: 20px;
            margin-bottom: 0;
            color: rgba(255,255,255,.8);
        }
        a {
            color: rgba(255,255,255,.8);
            margin-left: 5px;
            margin-right: 5px;
        }
    }    
}


.sidemenu {
    position: fixed;
    z-index: 2;
    .item {
        color: #fff;
        background-color: #4fc0ff;
        text-align: center;
        position: relative;
        a {
            display: block;
            color: #fff;
            text-decoration: none;
        }
        p {
            font-size: 12px;
            color: #fff;
        }
    }
    .icon-huidaodingbu{
        color: #3275f1;
    }
}
.dialog {
    z-index: 100;
    position: fixed;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    // pointer-events: none;
}
.dialog__overlay {
    position: absolute;
    z-index: 1;
    background: rgba(55,58,71,.9);
    // opacity: 0;
    // -webkit-transition: opacity .3s;
    // transition: opacity .3s;
    // -webkit-backface-visibility: hidden;
    display: none;
}
.dialog, .dialog__overlay {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.dialog__content {
    width: 50%;
    max-width: 380px;
    min-width: 290px;
    background: #fff;
    padding: 3em;
    text-align: center;
    position: relative;
    z-index: 5;
    display: none;
    .close {
        position: absolute;
        top: 7px;
        right: 10px;
        font-size: 21px;
        font-weight: 700;
        line-height: 1;
        color: #000;
        text-shadow: 0 1px 0 #fff;
        opacity: .2;
    }
}
.dialog {
    form {
        .title {
            margin: 0;
            font-weight: 400;
            font-size: 2em;
            margin: 0;
        }
        .form-group {
            margin-bottom: 20px;
        }
        .form-control {
            box-shadow: none;
        }
        .sub-title {
            margin-top: 10px;
            margin-bottom: 30px;
        }
    }    
}
#try-kefu {
    display: none;
    form {
        .title {
            font-size: 1.5em;
            font-weight: 600;
            color: #666;
        }
        .sub-title {
            margin-top: 12px;
            font-size: 12px;
            color: #666;
            line-height: 1.5;
        }
    }
}
.dialog__content{
    background: url(../img/xh/try-bg.jpg);
}
.chat1{
    display: none;
    position: fixed;
    right: 179px;
    bottom: 63px;
    width: 400px;
    height: 500px;
    overflow: hidden;
    background-color: #fff;
    border-radius: 4px;
    z-index: 10;
    .chat-header{
        cursor: move;
        background: #00cccd;
        height: 41px;
        line-height: 41px;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        box-shadow: inset 0 1px 1px hsla(0,0%,100%,.3);
        cursor: default;
        position: relative;
        padding-left: 10px;
        color: #fff;
        p{
            display: inline-block;
            color: #fff;
        }
        .icon-min {
            padding: 0 6px;
        }
        .iconfont {
            float: right;
            cursor: pointer;
        }
    }
    .wrapper{
        position: absolute;
        top: 0;
        z-index: -1;
        width: 100%;
        height: 100%;
        overflow: hidden;
        background-color: #fff;
        border-radius: 4px;
    }
    .chat-wrapper{
        position: absolute;
        top: 41px;
        bottom: 140px;
        background-color: #f4f7fa;
        width: 100%;
        border-bottom: 1px solid #e5e9f3;
        color: #1a1a1a;
        overflow-x: hidden;
        overflow-y: auto;
        -webkit-transition: margin .5s,top 0s;
        -moz-transition: margin .5s,top 0s;
        transition: margin .5s,top 0s;
        -webkit-overflow-scrolling: touch;
    }
    .chat-container {
        padding: 24px 0 20px;
        overflow: hidden;
        position: relative;
    }
    .date{
        width: 100%;
        float: left;
        margin: 8px 0;
        text-align: center;
        color: #fff;
        font-size: 12px;
    }
    .left{
        margin-bottom: -22px;
        img{
            width: 30px;
            height: 30px;
            margin-left: 10px;
            float: left;
            border-radius: 50%;
        }
    }
    .left,.right{
        float: left;
        display: block;
        text-decoration: none;
        width: 98%;
        text-align: left;
        margin: 8px 0;
    }
    .chat-content{
        clear: both;
        left: 50px;
        top: -30px;
        background: #fff;
        border: 1px solid #e5e5e5;
        position: relative;
        float: left;
        border-radius: 6px;
        max-width: 76%;
        span{
            display: inline-block;
            border-radius: 6px;
            padding: 10px;
            max-width: 98%;
            min-width: 20px;
            min-height: 20px;
            vertical-align: middle;
            text-align: left;
            font-size: 13px;
            word-wrap: break-word;
            white-space: normal;
            word-break: break-word;
            white-space: pre-wrap;
        }
    }
    .send-wrapper{
        position: absolute;
        height: 140px;
        width: 100%;
        bottom: 0;
        background-color: #fff;
        .inp{
            width: 100%;
            height: 70px;
            border: none;
            padding: 10px;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            font-size: 13px;
            resize: none;
            outline: none;
        }
        .send{
            background-color: #00cccd!important;
            position: absolute;
            right: 10px;
            bottom: 10px;
            width: 100px;
            border-radius: 4px;
            height: 30px;
            text-align: center;
            line-height: 30px;
            color: #fff;
            cursor: pointer;
        }
        .send.disabled{
            background-color: #ccc!important;
            cursor: default;
        }
        .toolbar{
            .icon-face {
                font-size: 30px;
            }
            .icon-picture {
                font-size: 23px;
            }
            .icon-attachment {
                font-size: 23px;
            }
            .icon-sendVideo {
                font-size: 19px;
            }
            .icon-note {
                font-size: 19px;
                padding: 5px;
            }
            .iconfont {
                cursor: pointer;
                display: inline-block;
            }
        }
    }
}

.authentication{
    font-size: 12px;
    z-index:99;
    overflow: hidden; 
    position: fixed; 
    top: 80px; 
    right: 0;
    .aut-icon{
        background-image: url(../img/xh/index/creditPop.png);
        background-repeat: no-repeat;
    }
    .aut-unfold {
        position: absolute;
        display: none;
        width: 38px;
        height: 37px;
        background-position: 0 -75px;
        cursor: pointer;
    }
    .aut-header{
        height: 32px;
        padding-left: 16px;
        padding-right: 17px;
        background-color: #445fb0;
        .i-logo{
            float: left;
            width: 66px;
            height: 19px;
            background-position: 0 -154px;
            margin-top: 6px;
            margin-right: 10px;
        }
        .aut-fold{
            float: right;
            margin-top: 7px;
            opacity: .8;
            cursor: pointer;
            text-decoration: none;
            .fold{
                display: inline-block;
                color: #fff;
                font-size: 12px;
                padding-right: 5px;
            }
            .arrow{
                display: inline-block;
                width: 0;
                height: 0;
                line-height: 0;
                font-size: 0;
                padding: 0;
                border: 5px solid transparent;
                vertical-align: middle;
                margin-top: -1px;
            }
            .right{
                border-right: 0;
                border-left: 5px solid #fff;
            }
        }
    }
    .aut-ct{
        border: 1px solid #e5e8e3;
        border-top: 0;
        background-color: #fff;
        .aut-info{
            border-bottom: 1px dashed #e5e8e3;
            padding: 14px 0 12px 13px;
            overflow: hidden;
        }
        h2{
            width: 195px;
            height: 19px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            font-size: 14px;
            color: #000;
            font-weight: bold;
        }
        .aut-if{
            margin-top: 6px;
            .level-tip{
                width: 145px;
                color: #19202a;
                vertical-align: top;
                line-height: 16px;
                overflow: hidden;
                float: left;
                color: #999;
                .custnum{
                    font-family: Arial;
                }
                p{   
                    margin-bottom: 3px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
                .b{
                    font-family: Arial;
                    color: #32a0ff;
                }
                .kb{
                    float: left;
                }
                .act{
                    float: right;
                    a{
                        color: #999;
                    }
                    .divide {
                        color: #cfcfcf;
                        margin: 0 7px;
                    }
                }
            }
        }
        .i-v{
            width: 39px;
            height: 39px;
            margin-right: 12px;
            margin-top: 3px;
            float: left;
            background-position: -80px 0;
        }
        .aut-m{
            background-color: #f7f7f6;
            padding: 1px 14px 14px 13px;
            .aut-i{
                color: #19202a;
                margin-top: 11px;
            }
            .aut-search{
                margin-top: 14px;
                width: 192px;
                height: 30px;
                position: relative;
                input{
                    display: block;
                    border: 1px solid #e0e0e0;
                    background: #fff;
                    width: 162px;
                    height: 28px;
                    line-height: 26px;
                    color: #7a7a7a;
                    padding-right: 28px;
                    text-indent: 5px;
                    font-size: 14px;
                    box-sizing: content-box;
                }
                .i-search{
                    width: 13px;
                    height: 14px;
                    position: absolute;
                    background-position: 0 -61px;
                    right: 11px;
                    top: 8px;
                    cursor: pointer;
                }
            }
            .title{
                span{
                    float: left;
                }
                a{
                    color: #32a0ff;
                    float: right;
                }
            } 
            .info {
                margin-top: 7px;
                color: #666;
                white-space: nowrap;
                overflow: hidden;
            }
        }
    }
}

@media(max-width:991px){
    .connect {
        h2 {
            margin: 0 0 60px 0;
            line-height: 1.3;
        }
        .connect-text {
            margin: 0 0 40px 0;
            padding: 0 10px;
            text-align: center;
        }
    }
    .customer{
        .body{
            padding: 30px 0 30px;
            .text-right{
                text-align: center;
                margin-bottom: 10px;
            }
        }
    }
}