@charset 'utf-8';

/*背景图*/

.banner {
    background: transparent none no-repeat scroll center center / cover;
    background-image: url('../img/cy/vpc/banner\ \(1\).jpg');
    height: 160px;
}

.banner .text-box {
    color: #fff;
    margin-top: 80px;
}

.banner .text-box h1 {
    font-size: 16px;
}

.banner .text-box .active {
    margin-top: 20px;
}

.banner .text-box .active .btn {
    width: 100px;
    font-size: 12px;
    padding: 7px 0;
    background-color: #4eb1f4;
    border-color: #4eb1f4;
    color: #fff;
}

.banner .text-box .active .btn:active {
    background-color: #286090;
    border-color: #204d74;
}


/*主题内容*/

.box {
    /*文字简介*/
    /*内容：环信客户互动云私有云服务优势*/
    /*架构介绍*/
}

.box section {
    padding: 40px 0;
}

.box .intro {
    background-color: #f7f7f7;
}

.box .intro h5 {
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 0;
    margin-top: 0;
    font-size: 16px;
    line-height: 1.6;
}

.box .advantage h2 {
    font-size: 22px;
}

.box .advantage .item-left {
    text-align: left;
}

.box .advantage .item-right {
    text-align: right;
}

.box .advantage .item-left .item,
.box .advantage .item-right .item {
    padding-top: 4px;
    text-align: left;
}

.box .advantage .item-left .item h5,
.box .advantage .item-right .item h5 {
    font-size: 16px;
    font-weight: 700;
}

.box .advantage .item-left .item p,
.box .advantage .item-right .item p {
    line-height: 1.4;
    color: #7a7a7a;
}

.box .advantage img {
    display: inline-block;
}

.box .framework {
    background: transparent none no-repeat scroll center center / cover;
    background-image: url('../img/cy/vpc/framework-bg.jpg');
}

.box .framework h2 {
    color: #fff;
    font-size: 22px;
    margin-bottom: 30px;
}

.box .framework .row {
    background-color: #fff;
    padding: 30px;
}

.box .framework .row img {
    display: inline-block;
}

.box .framework .row .industry {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px 1px #eee;
    margin: 90px auto 0;
}

.box .framework .row .industry .head {
    padding: 30px 0;
    background-color: #67B92F;
    color: #fff;
    font-size: 18px;
    border-radius: 5px 5px 0 0;
}

.box .framework .row .industry .body {
    padding: 15px 30px;
}

.box .framework .row .industry .body .item {
    background-color: #F2F5FA;
    margin-bottom: 15px;
    padding: 8px;
}

@media screen and (min-width: 768px) {
    /*背景图*/
    .banner {
        background-image: url('../img/cy/vpc/banner@2x.jpg');
        height: 300px;
    }
    .banner .text-box {
        margin-top: 120px;
    }
    .banner .text-box h1 {
        font-size: 22px;
    }
    .banner .text-box .active {
        margin-top: 25px;
    }
    .banner .text-box .active .btn {
        width: 110px;
        font-size: 14px;
        padding: 8px 0;
    }
    /*主题内容*/
    .box {
        /*文字简介*/
        /*环信客户互动云私有云服务优势*/
        /*架构介绍*/
    }
    .box section {
        padding: 60px 0;
    }
    .box .intro h5 {
        font-size: 18px;
        padding-left: 0;
        padding-right: 0;
    }
    .box .advantage h2 {
        font-size: 28px;
    }
    .box .advantage .item-left .item h5,
    .box .advantage .item-right .item h5 {
        font-size: 18px;
    }
    .box .framework {
        background-image: url('../img/cy/vpc/framework-bg@2x.jpg');
    }
    .box .framework h2 {
        margin-bottom: 80px;
    }
    .box .framework .row .industry {
        width: 80%;
    }
}

@media screen and (min-width: 992px) {
    /*背景图*/
    .banner {
        height: 400px;
    }
    .banner .text-box {
        margin-top: 160px;
    }
    .banner .text-box h1 {
        font-size: 30px;
    }
    .banner .text-box .active {
        margin-top: 30px;
    }
    .banner .text-box .active .btn {
        width: 120px;
        padding: 9px 0;
    }
    /*主题内容*/
    .box {
        /*文字简介*/
        /*环信客户互动云私有云服务优势*/
        /*架构介绍*/
    }
    .box section {
        padding: 80px 0;
    }
    .box .intro h5 {
        font-size: 20px;
    }
    .box .advantage h2 {
        font-size: 30px;
    }
    .box .advantage .item-left .item {
        text-align: right;
        padding-left: 70px;
    }
    .box .advantage .item-right .item {
        text-align: left;
        padding-right: 70px;
    }
    .box .advantage .item-left .item,
    .box .advantage .item-right .item {
        margin-top: 120px;
    }
    .box .advantage .item-left .item h5,
    .box .advantage .item-right .item h5 {
        font-size: 20px;
    }
    .box .advantage img {
        margin-top: 80px;
    }
    .box .framework h2 {
        font-size: 30px;
    }
}

@media screen and (min-width: 1200px) {
    /*背景图*/
    .banner {
        height: 500px;
    }
    .banner .text-box {
        margin-top: 200px;
    }
    .banner .text-box h1 {
        font-size: 36px;
    }
    .banner .text-box .active {
        margin-top: 40px;
    }
    .banner .text-box .active .btn {
        width: 130px;
        padding: 10px 0;
    }
    /*主题内容*/
    .box {
        /*环信客户互动云私有云服务优势*/
        /*架构介绍*/
    }
    .box section {
        padding: 100px 0;
    }
    .box .advantage h2 {
        font-size: 32px;
    }
    .box .framework h2 {
        font-size: 32px;
    }
}